body {
  border: 1px dotted tomato;
  box-sizing: border-box;
  border-width: 0 1px;
  font-family: "Calibri", sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100vh;
  background-color: #7fd596;
  padding: 1rem;
}

h1 {
  text-align: center;
  margin: 0;
}

ul {
  padding: 0;
  user-select: none;
}

ul li {
  padding: 1rem 0.5rem;
  list-style: none;
  border-bottom: double;

  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through red;
}

.input-box {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

input {
  width: 80%;
  font-size: 2rem;
  font-family: "Calibri", sans-serif;
  border-radius: 15px 0 0 15px;
  padding-left: 0.5rem;
}

button {
  font-size: 2rem;
  border-radius: 0 15px 15px 0;
}
